# Latex
main.pdf
presentation.pdf
*.aux
*.log
*.toc
*.synctex.gz
*.dvi
*.tks
*.bbl
*.blg
*.dat
*.spl
*.fdb_latexmk
*.fls
*.lof
*.lot
*.out
*.dblite
*.run.xml
*-blx.bib
/SConstructc
*.acn
*.acr
*.alg
*.glo
*.ist
*.bcf
*.nav
*.snm
